@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.team-container {
  width: 100%;
  padding: 4rem 2rem;
  background: transparent;
  font-family: 'Poppins', sans-serif;
}

.team-heading {
  text-align: left;
  font-size: 5rem;
  font-weight: 700;
  margin-left: 8rem;
  color: #fff;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.team-card {
  background: transparent;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  text-align: center;
  padding: 2rem;
  transition: transform 0.3s ease;
}

.team-image-container {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ffcc70;

}

.team-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team-member-name {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #c0c0c0;
}

.team-member-role {
  font-size: 0.9rem;
  color: #777;
}

/* Responsive */
@media (max-width: 1024px) {
  .team-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .team-grid {
    grid-template-columns: 1fr;
  }

  .team-container {
    padding: 3rem 1rem;
  }

  .team-heading {
    font-size: 2rem;
  }
}
